@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Theme colors */
:root {
    --berry: #8c1d46;
    --branch: #3a2a2a;
    --leaf-dark: #2d6232;
    --leaf-light: #e4ebe9;
    --berry-beige: #eedddc;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: var(--berry-beige);
}


/* Globals */
body {
    padding-bottom: 100px;
}

h1, h2, h3, h4 {
    margin: 2em 15px 5px;
    font-weight: 500;
}


subtitle {
    font-style: italic;
    margin: 5px 15px;
}


p {
    margin: 0.5em 15px;
}


noscript {
    color: var(--berry);
}


a {
    color: var(--berry); 
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 500;
}


em {
    font-style: italic;
}


strong em {
    font-style: italic;
    font-weight: 500;
}


button {
    border: 1px solid var(--leaf-dark);
    border-radius: 10px;
    padding: 5px;
    background: var(--leaf-light);
    font-size: 16px;
}


input[type="string"] {
    border: 1px solid var(--leaf-dark);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--leaf-light);
    font-size: 14px;
}


input[type="range"] {
    color: var(--leaf-dark);
    background-color: var(--leaf-light);
}


button:hover,
input[type="string"]:hover,
input[type="range"]:hover {
    border-color: var(--berry);
}


/* Particular elements, roughly in order of appearance */
div.container {
    justify-content: center;
    align-content: center;
    max-width: 800px;
}

div.logo-wrapper {
    text-align: center;
}

div.logo-wrapper img {
    margin: 80px;
}

div.interface-container {
    padding-top: 40px;
}

li.school-entry-row {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    margin: 10px 15px;
}

label.school-entry-header {
    font-weight: 500;
}

div.name-input-wrapper {
    padding-right: 30px;
}

div.name-input-wrapper input[type="string"] {
    width: 100%; 
}

div.t-input-wrapper,
div.f-input-wrapper {
    display: grid;
    grid-template-columns: auto 4em;
}

div.t-input-wrapper input[type="range"],
div.f-input-wrapper input[type="range"] {
    width: 100%; 
    display: block;
}

div.t-input-wrapper label,
div.f-input-wrapper label {
    padding: 0 15px 0 5px;
    display: block;
    text-align: right;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}

.add-remove-school {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.add-remove-school button {
    margin: 5px 15px;
}

#calculate-button-wrapper {
    text-align: center;
    padding: 15px;
}

#calculate-button-wrapper button {
    min-width: 10em;
}

#results-area {
    display: block;
    list-style-type: decimal;
    margin: 15px;
    padding-left: 2em;
}

div.result-labels-wrapper {
    display: grid;
    grid-template-columns: auto 4em;
}

#results-area label.x-result {
    text-align: left;
}

#results-area label.v-result {
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    text-align: right;
}
