@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

/* Theme colors */
:root {
    --berry: #8c1d46;
    --branch: #3a2a2a;
    --leaf-dark: #2d6232;
    --leaf-light: #e4ebe9;
    --berry-beige: #eedddc;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: var(--berry-beige);
}


/* Globals */
h1, h2, h3, h4 {
    margin: 2em 15px 5px;
    font-weight: 500;
}


subtitle {
    font-style: italic;
    margin: 5px 15px;
}


p {
    margin: 0.5em 15px;
}


noscript {
    color: var(--berry);
}


a {
    color: var(--berry); 
}


strong {
    font-weight: 500;
}


button {
    border: 1px solid var(--berry);
    border-radius: 10px;
    padding: 5px;
    background: var(--leaf-light);
    font-size: 16px;
}


input[type="string"] {
    border: 1px solid var(--berry);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--leaf-light);
    font-size: 14px;
}

input[type="range"] {
    color: var(--leaf-dark);
    background-color: var(--leaf-light);
}


/* Particular elements, roughly in order of appearance */
.container {
    justify-content: center;
    align-content: center;
    max-width: 800px;
}

div.logo-wrapper {
    text-align: center;
}

div.logo-wrapper img {
    margin: 80px;
}

.add-remove-school {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.add-remove-school button {
    margin: 5px 15px;
}

li.school-entry-row {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

label.school-entry-header {
    font-weight: 500;
    margin: 5px 15px;
}

div.name-input-wrapper input[type="string"] {
    width: 90%;
    margin: 5px 15px;
}

div.t-input-wrapper,
div.f-input-wrapper {
    display: grid;
    grid-template-columns: auto 3em;
    margin: 5px 15px;
}

div.t-input-wrapper input[type="range"],
div.f-input-wrapper input[type="range"] {
    width: 90%; 
    display: block;
}

div.t-input-wrapper label,
div.f-input-wrapper label {
    display: block;
}

#calculate-button-wrapper {
    text-align: center;
    padding: 15px;
}

#calculate-button-wrapper button {
    min-width: 300px;
}

#results-area {
    display: block;
    list-style-type: decimal;
    margin: 15px;
    padding-left: 2em;
}

div.result-labels-wrapper {
    display: grid;
    grid-template-columns: auto 4em;
}

#results-area label.x-result {
    text-align: left;
}

#results-area label.v-result {
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    text-align: right;
}
