@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Theme colors */
:root {
    --berry: #8c1d46;
    --branch: #2d1e1e;
    --leaf-dark: #2d6232;
    --leaf-light: #e4ebe9;
    --beige: #ffdfdd;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 80px 15px;
    color: var(--branch);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: var(--beige);
}

.container {
    max-width: 700px;
}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
    font-weight: 500;
}

h1 {
    font-size: 2rem;
}
header h1+p {
    font-style: italic;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0.6rem 0;
}

noscript {
    color: var(--berry);
}

a {
    color: var(--berry);
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

strong,
strong * {
    font-weight: 500;
}

em {
    font-style: italic;
}

button {
    border: 1px solid var(--leaf-dark);
    border-radius: 10px;
    padding: 5px;
    background: var(--leaf-light);
    font-size: 1rem;
}

button:disabled {
    opacity: 50%;
    color: inherit;
}

button:active,
input:focus {
    box-shadow: inset 0 0 1px black;
    outline: none;
}

input[type="string"] {
    border: 1px solid var(--leaf-dark);
    padding: 5px;
    background-color: var(--leaf-light);
    font-size: 0.85rem;
}

button:hover,
button:active,
input[type="string"]:hover,
input[type="string"]:focus,
details:not([open]):hover,
details:not([open]):active {
    border-color: var(--berry);
}

/* Particular elements, roughly in order of appearance */
.logo-wrapper img {
    display: block;
    margin: 80px auto;
    max-width: 100%;
    height: auto;
}

.interface-container {
    margin: 60px 0;
    overflow-x: scroll;
    width: 150%;
    max-width: min(800px, calc(100vw - 30px));

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.school-input-table {
    border-spacing: 0;
    text-align: left;

    display: grid;
    grid-template-columns: 30% auto max-content auto max-content;
    gap: 10px;
    align-items: center;
}

.school-input-table thead,
.school-input-table tbody,
.school-input-table tr,
.school-input-table th,
.school-input-table td {
    display: contents;
}

.school-input-table thead {
    font-weight: bold;
}

.school-input-table .double label {
    grid-column: span 2;
}

.numeric-label {
    text-align: right;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}

.interface-container .button-row {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.interface-container .button-row button {
    flex-grow: 1;
    max-width: 300px;
}

#results-list {
    display: block;
    list-style-type: decimal;
    margin: 10px 0;
    padding-left: 2em;
}

#results-list > li > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#results-header-row {
    margin-bottom: 5px;
    font-weight: 500;

    /* Remove "0." on header row */
    list-style-type: none;
}

details {
    border: 1px solid var(--leaf-dark);
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    background-color: var(--leaf-light);
}

details > summary {
    cursor: pointer;
}

/* Large screens */
@media screen and (min-width: 992px) {
    body {
        margin: 80px 100px;
    }
}

/* Small screens */
@media screen and (max-width: 600px) {
    .logo-wrapper img {
        margin: 45px auto;
    }
}

.katex {
    line-height: 0.9 !important;
}
